@font-face {
  font-family: 'Ulsan Junggu';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/UlsanJunggu/UlsanJunggu.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/UlsanJunggu/UlsanJunggu.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/UlsanJunggu/UlsanJunggu.ttf') format('truetype');
}
